h1 {
  font-size: $h1-size !important;
}

h2 {
  font-size: $h2-size !important;
}

h3 {
  font-size: $h3-size !important;
}

h4, p {
  font-size: $h4-size !important;
}

h5 {
  font-size: $h5-size !important;
}

h6 {
  font-size: $h6-size !important;
  font-family: 'Muli-ExtraLight';
}